<div class="col-md-4" *ngFor="let tipoinvento of tipoinventos">
  <div class="card text-center">
    <div class="card-header bg-dark text white d-flex justify-content-between align-items-center">
      {{tipoinvento.idtipoinvento}}
      <button class="btn btn-danger" (click)="eliminarTipoInvento(tipoinvento.idtipoinvento)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p class="font-weight-bold">Nombre: </p>
      <p>{{tipoinvento.nombretipoinvento}}</p>
      <a [routerLink]="['/tipoinventos/edit', tipoinvento.idtipoinvento]" class="btn btn-info btn-block">Editar</a>
    </div>
  </div>
</div>