<div class="container">
    <a
    class="float-right btn btn-info"
    routerLink="/rubroempresas"
    routerLinkActive="active"
    ><i class="fas fa-arrow-left"></i>  Atrás</a>
</div>

<div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              name="Nombre Rubro de Empresa"
              [(ngModel)]="rubroempresa.nombrerubroempresa"
              placeholder="Inserte nombre rubro de empresa"
              class="form-control"
              autofocus
            />
          </div> 
          <button class="btn btn-success btn-block" (click)="edit ? actualizarRubroEmpresa() : guardarRubroEmpresa()">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
      <div class="card card-body text-center">
        <h3>{{rubroempresa.idrubroempresa == 0 ? 'ID' : rubroempresa.idrubroempresa}}</h3>
        <p>{{rubroempresa.nombrerubroempresa == '' ? 'Nombre del rubro de empresa' : rubroempresa.nombrerubroempresa}}</p>
      </div>
    </div>
    